[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "oobase"]
	path = oobase
	url = https://github.com/omegaonline/oobase.git
[submodule "ooxml"]
	path = ooxml
	url = https://github.com/omegaonline/ooxml.git
[submodule "3rdparty/freetype2"]
	path = 3rdparty/freetype2
	url = http://git.sv.nongnu.org/r/freetype/freetype2.git
